._top_body {
    display: flex;
    padding: 1em;
    overflow: auto;
    background-color: rgb(39, 93, 56);
    min-width: calc(100% - 2em);
    color: white;
    flex-direction: column;
}


._top_body_title {
    display: flex;
    flex-direction: row;
}

._top_body_title>img {
    height: auto;
    width: 3em;
    object-fit: contain;
    margin: 0 0.2em;
}

._top_body_title>h1 {
    margin: 0;
    font-weight: 900;
    font-size: 4em;
}

._top_body_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 22em;
    font-weight: 700;
    padding-left: 0.75em;
}

._top_body_menu>a {
    text-decoration: none;
    color: rgb(231, 238, 233);
}